@font-face {
  font-family: inter;
  src: url("/assets/font/inter.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background: #f8f9fb;
  display: flex;
}

.left {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-right: 1px solid #ebebeb;
}
.left .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.left .top .logo-content {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.left .top .logo-content i {
  font-size: 1.7rem;
}
.left .top .logo-content h2 {
  font-size: 1.2rem;
}
.left .top .logo-content h3 {
  font-size: 0.8rem;
  font-weight: 300;
  color: #616161;
}
.left .top .options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.left .top .options .option {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: start;
  font-size: 1rem;
  color: #616161;
  cursor: pointer;
}
.left .top .options .option:nth-child(1) {
  background: #dbeafe;
}
.left button {
  padding: 1rem 0;
  width: 100%;
  background: #000;
  color: #fff;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform ease 0.2s;
}
.left button:active {
  transform: scale(1.02);
}

.right {
  width: 85%;
  overflow-y: scroll;
}
.right nav {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: center;
  background: #fff;
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
}
.right nav .vertical-line {
  width: 2px;
  height: 18px;
  background: #616161;
}
.right nav p {
  font-size: 1rem;
}
.right nav button {
  padding: 0.7rem 2rem;
  border: 1px solid black;
  background: transparent;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}
.right .right-btm {
  display: none;
  padding: 2rem;
}
.right .right-btm .heading h1 {
  font-size: 1.5rem;
  color: #000;
}
.right .right-btm .heading p {
  font-size: 0.8rem;
  color: #616161;
}
.right .right-btm .cards {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.right .right-btm .cards .card {
  width: 25%;
  border: 1px solid #ebebeb;
  border-radius: 0.5rem;
  padding: 1.5rem;
  background: #fff;
}
.right .right-btm .cards .card i {
  display: inline-block;
  font-size: 1.2rem;
  color: #1E40AF;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #DBEAFE;
  margin-bottom: 0.5rem;
}
.right .right-btm .cards .card h3 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #616161;
  margin-bottom: 0.2rem;
}
.right .right-btm .graph-interface {
  width: 100%;
  height: 20rem;
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}
.right .right-btm .graph-interface .graph {
  width: 65%;
  height: 100%;
  border: 1px solid #616161;
  border-radius: 0.5rem;
}
.right .right-btm .graph-interface .preferences {
  width: 30%;
  height: 60%;
  border: 1px solid #616161;
  border-radius: 0.5rem;
}
.right .right-btm .transactions {
  width: 65%;
  height: 10rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}/*# sourceMappingURL=style.css.map */